@font-face {
  font-family: "BM-JUA";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/BM-JUA.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/BM-JUA.woff")
    format("woff");
  font-style: normal;
}
