header {
  display: flex;
  /* margin: 20px 350px 20px 320px; */
}
* {
  font-family: "BM-JUA";
}

select {
  width: 100px;
  padding: 15px 0 15px 15px;
  border: none;
  border-radius: 3px;
  background: url("/resource/img/화살표.PNG") no-repeat 100% 50%;
  appearance: none;
}

input {
  appearance: none;
  border: none;
}

a {
  text-decoration: none;
}

.category-box {
  height: 120px;
  width: 120px;
  margin-right: 30px;
}

.function-box {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 120px;
}

.search-box {
  display: flex;
  width: 700px;
  height: 90px;
  align-items: center;
}

.search-text-box {
  outline: none;
  line-height: 43px;
}

.button-box {
  width: 700px;
  height: 30px;
}

.logo-img {
  width: 10vw;
}

.search-btn {
  display: flex;
  border: 3px solid skyblue;
  height: 50px;
  align-items: center;
  margin-right: 30px;
}

.img-height {
  padding: 5px 0 0 0;
}

.img-under-text {
  display: flex;
  flex-direction: column;
}

.font-size-small {
  font-size: 12px;
}

.font-align-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.button-box {
  display: flex;
  justify-content: space-around;
}
